<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

   	
   	<bean id="springUtil" class="com.wsjonly.util.SpringUtil"/>
   	
   	<!--  缓存数据存储服务 --> 
    <bean id="dataCacheManager" class="com.wsjonly.datacache.impl.DataCacheManagerImpl" init-method="init" destroy-method="destroy">
        <property name="configFile" value="datacache.xml"/>
    </bean> 
    
</beans>
